ul.content-technologies {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 160px));
  line-height: 3;
  margin: 0 0 2rem 0.5rem;
  gap: 0 10px 10px;

  li {
    display: inline;
  
    .svg-inline--fa {
      color: #303846;
      font-size: 1.5em;
      margin-right: 0.75rem;
    }
  }
}

.content--about__paragraph {
  width: 100%;
}

.downloadCV--button {
  background-color: #303846;
  color: #fff;
  border: 1px solid #303846;
  padding: 8px;
  width: 10rem;
  border-radius: 16px;
  text-align: center;
  &:hover {
    background: #10b9b3;
    border: 1px solid #10b9b3;
  }
}

@media only screen and (max-width: 375px) {
  ul.content-technologies {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  .container .content .content--about__paragraph {
    width: 40rem;
    line-height: 1.5;
  }
}


