.content-contact a {
    display: inline-block;
    font-size: large;
    font-weight: 600;
    color: #303846;
    text-decoration: underline;
  }

  .contact-social {
    display: inline-flex;
    li a {
      display: inline-block;
      color: #303846;
      &:hover {
        color: #10b9b3;
      }
    }
  }